a.out
*.gch
*.o
webserv
webserv.log
*.md
!.github/copilot/*.md
!bugs.md
!BUG_REGRESSION_TESTS.md
!www/html/cgi-bin/README_CGI_DATA.md

www/html/users.json
www/html/sessions.json
www/html/user_log.txt
www/html/toydb.json

www/data/*.json
www/data/*.lock
www/data/user_log.txt
!www/data/.gitkeep

*.txt

# Un-ignore my two specific markdown files
!subject.md 
!CMBS_bugs.md
!violation.md 
!strict_review_report.md